.container {
  display: flex;
  height: 100vh;
}

.left-column {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.right-column {
  flex: 1;
  background-color: #ffffff;
  padding: 20px;
  overflow-y: auto;
}

.scrollable-content {
  height: 200vh;
  padding: 20px;
}

.canvas-container {
  width: 100%;
  height: 100%;
}

/* mobile screens */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .left-column {
    height: 50vh;
  }

  .right-column {
    height: 50vh;
    overflow-y: auto;
  }

  .scrollable-content {
    height: auto;
  }

  .canvas-container {
    height: 100%;
  }
}
