.canvas-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d7d9db; /* Tailwind's bg-blue-400 equivalent */
}

canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
}

canvas-new {
  width: 100% !important;
  height: 100% !important;
  display: block;
}
