.hero-banner-1 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.hero-video-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
  background-image: url("/public/images/Screenshot.png");
}

.robot-container {
  position: relative;
  z-index: 0;
}

.hero-content {
  text-align: center;
  color: #00ffff;
  z-index: 200 !important;
  position: relative;
}

.glowing-text {
  font-size: 4rem;
  color: #00ffff;
  z-index: 200 !important;
  text-shadow: 0 0 20px #00ffff, 0 0 30px #00ffff, 0 0 40px #00ffff;
  animation: flicker 1.5s infinite alternate;
}

@keyframes flicker {
  0% {
    text-shadow: 0 0 20px #00ffff, 0 0 30px #00ffff;
  }
  50% {
    text-shadow: 0 0 50px #00ffff, 0 0 60px #00ffff;
  }
  100% {
    text-shadow: 0 0 20px #00ffff, 0 0 30px #00ffff;
  }
}

.hero-subtext {
  margin-top: 20px;
  font-size: 1.5rem;
  color: #fff;
}

.hero-button {
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  background: linear-gradient(45deg, #00ffff, #008080);
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.7);
  transition: all 0.3s ease-in-out;
}

.hero-button:hover {
  box-shadow: 0 0 40px rgba(0, 255, 255, 1);
  transform: scale(1.1);
}

.robot {
  position: relative;
}

.glowing-text {
  font-size: 3rem;
  color: #fff;
  text-align: center;
}

.word {
  display: inline-block;
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.text-container {
  color: #ffffffac;
  margin-top: -30vh;
  width: 100vw;
  height: 100vh;
  font-weight: bold;
  font-size: 36px;
  position: absolute;
  overflow: hidden;
  z-index: -3 !important;
}

.text-container > div {
  animation: come2life linear 10s infinite;
  transform-origin: center center;
  opacity: 0;
  width: 250px;
  height: 200px;
  position: absolute;
  backface-visibility: hidden;
  z-index: -3;
}

.text-container > div:nth-child(1) {
  left: 10vw;
  top: 60vh;
  animation-delay: 0s;
}

.text-container > div:nth-child(2) {
  left: 80vw;
  top: 25vh;
  animation-delay: 4s;
}

.text-container > div:nth-child(3) {
  left: 50vw;
  top: 58vh;
  animation-delay: 8s;
}

.text-container > div:nth-child(4) {
  left: 25vw;
  top: 60vh;
  animation-delay: 6s;
}

.text-container > div:nth-child(5) {
  left: 80vw;
  top: 60vh;
  animation-delay: 2s;
}

@keyframes come2life {
  0% {
    transform: scale3d(0, 0, 1) rotate(0.02deg);
    opacity: 0;
    filter: blur(10px);
  }
  25% {
    transform: scale3d(1, 1, 1) rotate(0.02deg);
    opacity: 1;
    filter: blur(0px);
  }
  40% {
    opacity: 1;
    filter: blur(0px);
  }

  80% {
    opacity: 0;
  }

  100% {
    transform: scale3d(4, 4, 1) rotate(0.02deg);
    filter: blur(10px);
  }
}
